<!-- INTRO
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="intro-hero">
  <div class="container-fluid">
      <article class="col-md-12 no-pad headline">
        <h1>
          <span class="white font5">We are your</span>
          <span class="white font4">Nighttiming<br>Network</span>
        </h1>
      </article>
      <article class="col-md-12 no-pad">
        <div class="sunset">
          <div class="ground">
            <div class="sun"></div>
            <div class="moon"></div>
          </div>
          <div class="reflection-one"></div>
          <div class="reflection-two"></div>
        </div>
      </article>
      <article class="col-md-12 no-pad subhead">
        <h2>
          <span class="white font5">A creative collective agency for<br>web design, development, strategy &amp; branding.</span>
        </h2>
        <div class="down-arrow font4">&darr;</div>
      </article>
    </div>
  </div>

</section>
