<!-- PROJECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="clearfix"></section>
<section id="works-container" class="works-container works-masonry-container clearfix white-bg">
  <!-- start : works-item -->
  <div class="works-item works-item-one-half info web brand ui">
    <img data-no-retina class="img-responsive" src="/images/projects/jeet-thumb.png"/>
    <a  href="projects/jeet.html">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Web &amp; Brand</span></h3>
        <p><span class="white font4">Jeet Grid System</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half info web ui dev strategy">
    <img data-no-retina alt="" title="" class="img-responsive" src="/images/projects/gatorade-thumb.jpg"/>
    <a href="/projects/gatorade.html">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Prototype &amp; Development</span></h3>
        <p><span class="white font4">Gatorade's G-Series Pro</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half info web ui print">
    <img data-no-retina class="img-responsive" src="/images/projects/riskio-thumb.jpg"/>
    <a href="/projects/riskio.html">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Web &amp; Print</span></h3>
        <p><span class="white font4">Risk I/0</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half info web ui dev strategy">
    <img data-no-retina class="img-responsive" src="/images/projects/home-depot-thumb.png"/>
    <a href="/projects/home-depot.html">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Prototype &amp; Development</span></h3>
        <p><span class="white font4">The Home Depot Decision Support Apps</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half info web ui dev">
    <img data-no-retina class="img-responsive" src="/images/projects/groove-thumb.jpg"/>
    <a  href="projects/groove.html">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Web &amp; User Interface</span></h3>
        <p><span class="white font4">Groove Helpdesk</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half info web photo">
    <img data-no-retina class="img-responsive" src="/images/projects/chiquita-thumb.png"/>
    <a  href="projects/chiquita.html">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Web &amp; Photography</span></h3>
        <p><span class="white font4">Chiquita</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half strategy web photo cmmc-thumb">
    <img data-no-retina class="img-responsive" src="/images/projects/cmmc-thumb.png"/>
    <a  href="projects/cincinnati-mine-machinery-co.html">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Web &amp; Strategy</span></h3>
        <p><span class="white font4">Cincinnati Mine Machinery Co.</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
</section>
<!-- end : works-container -->

<section class="filter-notification">
  <a class="font4bold" href="#">Show Filters</a>
</section>
<!--works filter panel :starts -->
<section id="works-filter-panel" class="works-filter-panel fullheight">
  <div class="valign">
    <div class="works-filter-wrap">
      <ul class="works-filter text-center clearfix font4bold">
        <li><a id="all" href="#" data-filter="*" class="active"><span>All</span></a></li>
        <li><a href="#" data-filter=".web"><span>Web</span></a></li>
        <li><a href="#" data-filter=".ui"><span>UI</span></a></li>
        <li><a href="#" data-filter=".dev"><span>Development</span></a></li>
        <li><a href="#" data-filter=".branding"><span>Branding</span></a></li>
        <li><a href="#" data-filter=".print"><span>Print</span></a></li>
        <li><a href="#" data-filter=".strategy"><span>Strategy</span></a></li>
      </ul>
    </div>
  </div>
</section>
<!-- works filter panel :ends -->
