---
layout: default
body_class: 'homepage'
---

{% include homepage/intro.html %}

<section class="news-post-head white-bg">
 <div class="container-fluid">
    <div class="row add-top add-bottom">
        <article class="col-md-4 text-left">
               <h4 class="font4bold black">Services<span class="font5 dark"></span></h4>
               <div class="liner color-bg"></div>
        </article>
        <article class="col-md-8 text-left">
               <h2 class="font4 black">WE LIKE TO WORK TOGETHER AS PARTNERS TO HELP YOU ACHIEVE YOUR GOALS.</h2>
        </article>
    </div>
    <hr>
 </div>
</section>
<section class="services-02 white-bg">
  <div class="container">
    <div class="row add-top-half add-bottom-half">
      <article class="col-md-4 text-left service-block">
        <span class="icon-browser color"></span>
        <h3 class="font4 black">Web &amp; UI</h3>
        <div class="liner color-bg"></div>
        <p class="dark">Anything from <strong>marketing sites</strong> to <strong>web apps</strong> (and everything inbetween).</p>
      </article>
      <article class="col-md-4 text-left service-block">
        <span class="icon-tools color"></span>
        <h3 class="font4 black">Graphics</h3>
        <div class="liner color-bg"></div>
        <p class="dark">Whether it is a brochure, album art, or a web ad – we've got you covered.</p>
      </article>

      <article class="col-md-4 text-left service-block">
        <span class="icon-paintbrush color"></span>
        <h3 class="font4 black">Branding</h3>
        <div class="liner color-bg"></div>
        <p class="dark">Don't just get a brand aid, our philosophy is built upon crafting a brand that is unique to you.</p>
      </article>
    </div>
    <div class="row add-top-half pad-bottom">
      <article class="col-md-4 text-left service-block">
        <span class="icon-gears color"></span>
        <h3 class="font4 black">Development</h3>
        <div class="liner color-bg"></div>
        <p class="dark">Whether it is front-end or back end our broad network of developers will help you achieve the functionality you're looking for.</p>
      </article>
      <article class="col-md-4 text-left service-block">
        <span class="icon-profile-male color"></span>
        <h3 class="font4 black">User Experience</h3>
        <div class="liner color-bg"></div>
        <p class="dark">Need an advocate for your users? We have a vast knowledge base of constructs, patterns, and science to make your users happy.</p>
      </article>
      <article class="col-md-4 text-left service-block">
        <span class="icon-trophy color"></span>
        <h3 class="font4 black">Art Direction</h3>
        <div class="liner color-bg"></div>
        <p class="dark">Need a creative captain to steer your brand's aesthetic? With over 100 years of combined experience, we know how to craft award-winning products.</p>
      </article>

    </div>
  </div>
</section>

<section class="about-01 about-01-bg pad-top pad-bottom parallax hide-on-mobile" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <article class="col-md-8 col-md-offset-2 text-center">
        <img style="height: 150px; width: 150px;" data-no-retina alt="" title="" src="/images/shared/emblem-white.svg"/>
        <h2 class="font4light white add-top-quarter">A design studio without bounds. When the sun goes down we ramp up.</h2>
      </article>
    </div>
  </div>
</section>
<section class="agency">
  <div class="container-fluid">
    <div class="row">
      <article class="col-md-3 text-left img-bg equal-height agency-tile agency-tile-01 silver-bg">
        <div class="valign">
          <h6 class="font4light dark">We are a creative collective who share a passion &amp; taste for beautifully crafted products.</h6>
        </div>
      </article>
      <article class="col-md-9 text-center img-bg equal-height agency-tile agency-tile-02">
        <div class="valign">
        </div>
      </article>
    </div>
    <div class="row">
      <article class="col-md-6 text-center img-bg equal-height agency-tile agency-tile-03 hide-on-mobile">
        <div class="valign">
        </div>
      </article>
      <article class="col-md-6 text-left img-bg equal-height agency-tile agency-tile-05 white-bg">
        <div class="valign">
          <h6 class="font4light black">Designer passion flares in our souls; It oozes out of our calloused fingertips to help our clients craft an experience they never forget.</h6>
        </div>
      </article>
    </div>
    <div class="row">
      <article class="col-md-4 text-left img-bg equal-height agency-tile agency-tile-06 black-bg hide-on-mobile">
        <div class="valign">
          <h6 class="font4light white">Some say success is a matter of luck. We disagree, luck is where preparation &amp; opportunity meet.</h6>
        </div>
      </article>
      <article class="col-md-4 text-center img-bg equal-height agency-tile agency-tile-07 hide-on-mobile">
        <div class="valign">
        </div>
      </article>
      <article class="col-md-4 text-center img-bg equal-height agency-tile agency-tile-08">
        <div class="valign">
        </div>
      </article>
    </div>
    <div class="row add-top-quarter add-bottom-quarter hide-on-mobile">
      <article class="text-center col-md-12 add-top-quarter">
          <h1 class="elements-group-heading font4light dark add-top-quarter">Our work in numbers.</h1>
      </article>
    </div>

    <div class="row pad-bottom hide-on-mobile">
      <article class="text-center col-md-12">
        <ul class="elements-counter-wrap">

          <li data-delay="100" class="elements-counter" style="opacity: 1;">
              <div class="number font2 black">18</div>
              <div class="subject font1 color">Awards Won</div>
          </li>

          <li data-delay="300" class="elements-counter" style="opacity: 1;">
              <div class="number font2 black">42</div>
              <div class="subject font1 color">Combined Years</div>
          </li>

          <li data-delay="500" class="elements-counter" style="opacity: 1;">
              <div class="number font2 black">3402</div>
              <div class="subject font1 color">Github Commits</div>
          </li>

          <li data-delay="700" class="elements-counter" style="opacity: 1;">
              <div class="number font2 black">11812</div>
              <div class="subject font1 color">Dribble Likes</div>
          </li>

        </ul>
      </article>
    </div>
  </div>
</section>

{% include shared/cta.html ctaIntro="Enough lookin, let's talk!" gradient="yes" ctaButton="Get in touch" ctaLink="/contact.html" %}
