<!-- PROJECT DETAILS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="project-nav">
  <div class="container-fluid">
    <div class="row">
      {% if page.previous and page.next == null %}
      <a class="col-md-6 project-nav-block half-small silver-bg text-center" href="{{ page.previous.url }}">
        <div>
          <span class="ion-ios-arrow-thin-left black"></span>
          <h4 class="font5 black">Prev Project</h4>
        </div>
      </a>

      <a class="col-md-6 project-nav-block half-small black-bg text-center" href="/work.html">
        <div>
          <span class="ion-grid white"></span>
          <h4 class="font5 white">All Projects</h4>
        </div>
      </a>

      {% elsif page.next and page.previous == null %}
      <a class="col-md-6 project-nav-block half-small black-bg text-center" href="/work.html">
        <div>
          <span class="ion-grid white"></span>
          <h4 class="font5 white">All Projects</h4>
        </div>
      </a>

      <a class="col-md-6 project-nav-block half-small color-bg text-center" href="{{ page.next.url }}">
        <div>
          <span class="ion-ios-arrow-thin-right black"></span>
          <h4 class="font5 black">Next Project</h4>
        </div>
      </a>

      {% else %}
      <a class="col-md-3 project-nav-block half-small silver-bg text-center" href="{{ page.previous.url }}">
        <div>
          <span class="ion-ios-arrow-thin-left black"></span>
          <h4 class="font5 black">Prev Project</h4>
        </div>
      </a>

      <a class="col-md-3 project-nav-block half-small color-bg text-center" href="{{ page.next.url }}">
        <div>
          <span class="ion-ios-arrow-thin-right black"></span>
          <h4 class="font5 black">Next Project</h4>
        </div>
      </a>

      <a class="col-md-6 project-nav-block  black-bg text-center" href="/work.html">
        <div>
          <span class="ion-grid white"></span>
          <h4 class="font5 white">All Projects</h4>
        </div>
      </a>
      {% endif %}
    </div>
  </div>

</section>
