<!-- CTA BAR
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section id="particles" class="call-to-action call-to-action-01 pad-top pad-bottom {% if include.gradient %}color-gradient{% endif %}">
  <div class="container">
    <div class="row">
      <article class="col-md-8 text-left">
        <h1 class="font4bold black">{{ include.ctaIntro }}</h1>
        <div class="liner white-bg"></div>
        <div><a href="{{ include.ctaLink }}" class="btn btn-ego btn-ego-white">{{ include.ctaButton }} <span class="font5">&#8594;</span></a></div>
      </article>
    </div>
  </div>
</section>

<style>
  footer {
    display: none;
  }
</style>
