<!-- FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<footer class="mastfoot container-fluid white-bg">

  <div class="row">
        <a href="/index.html" class="credits col-md-12  text-center">
              <img data-no-retina alt="" title="" class="emblem-logo" src="/images/shared/emblem.svg"/>
        </a>
  </div>
  <div class="row">
        <article class="credits col-md-12  text-center">
            <p class="font4 dark">Copyright &copy; 2016 DUSK LLC</p>
        </article>
  </div>
  <div class="row add-top-quarter">
        <ul class="foot-social col-md-12 text-center">
          <li><a href="https://dribbble.com/eliwilliamson"><img data-no-retina alt="dribbble" title="dribbble" src="/images/shared/social/02.svg"/></a></li>
          <li><a href="https://www.facebook.com/justdusk"><img data-no-retina alt="facebook" title="facebook" src="/images/shared/social/03.svg"/></a></li>
          <li><a href="https://twitter.com/eliwilliamson"><img data-no-retina alt="twitter" title="twitter" src="/images/shared/social/01.svg"/></a></li>
        </ul>
  </div>

</footer>
