<!-- Preloader
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="preloader">
  <div id="status"></div>
</div>



<!-- Header
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header class="masthead">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 text-left masthead-half-left silver-bg">
          <div class="valign">
            <a href="/index.html"><img data-no-retina alt="" title="" src="/images/shared/logo.svg"/></a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right masthead-half-right black-bg">
          <div class="valign">
            <a href="#" class="cd-btn menu-trigger">
              <span class="ion-android-menu white"></span>
            </a>
          </div>
        </div>
    </div>
</div>

</header>

{% include shared/menu.html %}
