<!-- HEADLINE
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="news-post-head white-bg">

 <div class="container-fluid">
    <div class="row add-top add-bottom">
        <article class="col-md-4 text-left">
               <h4 class="font4bold black">{{ page.title }}<span class="font5 dark"></span></h4>
               <div class="liner color-bg"></div>
        </article>
        <article class="col-md-8 text-left">
               <h2 class="font4 black">{{ page.description }}</h2>
        </article>
    </div>
 </div>

</section>
