<!-- SLIDER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!--sliding menu panel :starts -->
<section class="menu-panel cd-panel from-right">
  <div class="cd-panel-container">
    <div class="cd-panel-content fullheight menu-bg">
      <div class="valign">
        <nav>
          <ul class="main-menu">
            <li>
              <a class="main-link sub-menu-trigger" href="/work.html">work</a>
              <div class="sub-menu">
                <a href="/projects/jeet.html">Jeet Grid System</a>
                <a href="/projects/gatorade.html">Gatorade's G-Series Pro</a>
                <a href="/projects/riskio.html">Risk I/O</a>
                <a href="/projects/home-depot.html">The Home Depot</a>
                <a href="/projects/groove.html">Groove</a>
                <a href="/projects/chiquita.html">Chiquita</a>
                <a href="/projects/cincinnati-mine-machinery-co.html">Cincinnati Mine Machinery Co.</a>
              </div>
            </li>
            <!--                       <li>
              <a class="main-link sub-menu-trigger" href="/play.html">play</a>
              <div class="sub-menu">
                <a href="#">test 01</a>
                <a href="#">test 02</a>
                <a href="#">test 03</a>
              </div>
            </li> -->
            <li>
              <a class="main-link sub-menu-trigger" href="javascript:void(0);">about</a>
              <div class="sub-menu">
                <a href="/about.html">Meet &amp; Greet</a>
                <a href="/services.html">Services</a>
                <a href="/lifestream.html">Lifestream</a>
              </div>
            </li>
            <li>
              <a class="main-link" href="/contact.html">contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <a class="menu-close-trigger" href="#"><span class="white ion-android-close"></span></a>
      </div> <!-- cd-panel-content -->
      </div> <!-- cd-panel-container -->
    </section>
    <!-- sliding menu panel :ends -->
