<!-- SLIDER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="intro07">

    <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullscreen-container">
      <!-- START REVOLUTION SLIDER 4.6.5 fullscreen mode -->
      <div id="rev_slider_3_1" class="rev_slider fullscreenbanner">
        <ul>  <!-- SLIDE  -->
        <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1200"  data-saveperformance="off" >
          <!-- MAIN IMAGE -->
          <img data-no-retina alt="" title="" src="/images/homepage/01.jpg"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption featured-work-caption font5 white lft ltb tp-resizeme"
            data-x="20" data-hoffset="0"
            data-y="bottom" data-voffset="-120"
            data-speed="600"
            data-start="600"
            data-easing="easeInOutQuad"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="800"
            data-endeasing="easeInOutQuad" >01 / 03<span class="font4  black"></span>
          </div>
        </li>
        <!-- SLIDE  -->
        <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1200"  data-saveperformance="off" >
          <!-- MAIN IMAGE -->
          <img data-no-retina alt="" title="" src="/images/homepage/02.jpg"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption featured-work-caption font5 dark lft ltb tp-resizeme"
            data-x="20" data-hoffset="0"
            data-y="bottom" data-voffset="-120"
            data-speed="600"
            data-start="600"
            data-easing="easeInOutQuad"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="800"
            data-endeasing="easeInOutQuad" >02 / 03<span class="font4 black">Helv</span>
          </div>
        </li>
        <!-- SLIDE  -->
        <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1200"  data-saveperformance="off" >
          <!-- MAIN IMAGE -->
          <img data-no-retina alt="" title="" src="/images/homepage/03.jpg"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption featured-work-caption font5 dark lft ltb tp-resizeme"
            data-x="20" data-hoffset="0"
            data-y="bottom" data-voffset="-120"
            data-speed="600"
            data-start="600"
            data-easing="easeInOutQuad"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="800"
            data-endeasing="easeInOutQuad" >03 / 03<span class="font4 black">Pacifico</span>
          </div>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
  </div>
</section>
