<!doctype html>
<html class="no-js" lang="en">

  {% include shared/head.html %}

  <body class="{{ page.body_class }}">

    {% include shared/header.html %}

    <!-- MASTER CONTENT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section class="mastwrap">
    {{ content }}
    </section>
    <!-- end : mastwrap -->

    {% include shared/footer.html %}

    {% include shared/scripts.html %}
    {% include shared/google-analytics.html %}

    {% if page.body_class == "contact" %}
      {% include shared/contact-scripts.html %}
    {% endif %}

  </body>
</html>
